.ct-bar {
    stroke-width: 40px;
} 
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: green; 
}
.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #f4c63d; 
}
.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #AA0000; 
}
.ct-label {
    font-size: 25px;
}

.picked  {
    background-color:green;   
    color:white; 
    font-size: 25px; 
    border-radius:5px; 
    padding: 0px;
}
 .picking {
    background-color:#f4c63d; 
    color:white; 
    font-size: 25px; 
    border-radius:5px; 
    padding: 0px;
}

.pick {
    background-color:#AA0000; 
    color:white; 
    font-size: 25px; 
    border-radius:5px; 
    padding: 0px;
}
